
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  
} 

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15em auto;
  z-index: 10;
  
}

.main-game {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  
}

.main-game-stats {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
}

.main-game-stats-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.main-game-stats button {
  height: 3em;
  align-items: flex-end;

}

.main-game-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.gif img{
  /* max-width: 6.4em; */
  max-height: 145px;
  object-fit: contain;
}


.book {
  padding: 15px;
  
}

@media (max-width: 768px) {
  .main-game, .rpgui-container {
    margin: 0;
    padding: 10px;
  }
}
